* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Magic Cards Normal';
    src: url('http://localhost:8080/MagicCardsNormal.ttf') format('ttf'),
        url('http://localhost:8080/MagicCardsNormal.woff') format('woff'),
        url('http://localhost:8080/MagicCardsNormal.woff2') format('woff2');
}

html {
    min-height: 100vh;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #cce6ff;
    color: #ab8c51;
    font-family: Magic Cards Normal, serif;
    font-size: 130%;
}

h1 {
    color: #663300;
    text-align: center;
}

ul {
    list-style-type: none;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

#header {
    min-height: 5vh;
}

#main {
    min-height: 85vh;
}

section, aside {
    padding: 1em;
    margin: 2em;
}

#container {
    width: 25em;
    float: left;
    background-color: #99ceff;
    border-radius: 1rem;
    line-height: 150%;
}

#side_bar {
    width: 13em;
    float: right;
    background-color: #99ceff;
    border-radius: 1rem;
}

#side_bar p {
    text-align: center;
}

#main::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #004f99;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}
